<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iametza.ihesi" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ihesi</name>
    <description>
        Zazpi lurraldeak kontuan hartzen dituen Euskal Herriko lehen turismo aplikazioa da Ihesi.
    </description>
    <author email="garapena@iametza.com" href="http://www.iametza.com/">
        iametza interaktiboa
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
