<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iametza.ihesi" version="1.4.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ihesi</name>
    <description>
        Zazpi lurraldeak kontuan hartzen dituen Euskal Herriko lehen turismo aplikazioa da Ihesi.
    </description>
    <author email="garapena@iametza.com" href="http://www.iametza.com/">
        iametza interaktiboa
    </author>
    <content src="index.html" />
    <access origin="*" />
<preference name="EnableViewportScale" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="6000" />
    <preference name="Orientation" value="portrait" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <platform name="android">
        <splash src="res/screen/android/splash-ldpi.png" density="ldpi"/>
        <splash src="res/screen/android/splash-mdpi.png" density="mdpi"/>
        <splash src="res/screen/android/splash-hdpi.png" density="hdpi"/>
        <splash src="res/screen/android/splash-xhdpi.png" density="xhdpi"/>
    </platform>
    <platform name="android">
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>
</widget>
